<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football League</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teams">League Table</a></li>
                <li><a href="/teams/new">Add New Team</a></li>
                <li><a href="/games">View Fixtures</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
        
    {% endblock %}
</body>
</html>